*{
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    /* display: flex; */
}

header{
    text-align: center;
}

header h1{
    margin: 0;
    padding: 20px 0px;
    color:#EBE4D1;
    background-color: #E55604;
}

header h2{
    margin-top: 32px;
    color: #E55604;
}

.penjelasan{
    margin-top: 0px;
    font-size: medium;
    color: #26577C;
}

.inputSection{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
}

#squareSide{
    margin-top: 10px;
    width: 100%;
    max-width: 800px;
    outline: none;
    border-radius: 16px;
    border: solid #E55604;
    padding: 10px;
}

#squareSide:focus{
    border: solid orange;
}

#lblluas{
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
}

#lblkeliling{
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
 
}

.buttons{
    text-align: center;
}

button{
    margin-top: 10px;
    outline: none;
    background-color: #26577C;
    color: white;
    border-radius: 8px;
    border: solid black;
    padding: 10px 20px;
    cursor: pointer;
    align-self: center;
}

button:hover{
    background-color: aqua;
    color: black;
}
button:active{
    background-color: black;
    color: white;
    transform: translateY(4px);
}

